<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" preserve-order="true" parallel="false">
  <test name="Test">
    <classes>
      <class name="Assign.Zameen_Assignment"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->